@import "./font.css";
@import "./color.css";

* {
  color: #161616;
  font-family: Roboto, Arial, sans-serif !important;
}
.font-poppinss {
  font-family: Poppins !important;
}

.base-shadow {
  box-shadow: 0px 10px 20px 1px #00000040;
}
